/* Apply styles to the footer */
footer {
    padding: 5px;
    text-align: center;
    color: #6c757d; /* text-body-secondary color */
    background-color: #f8f9fa; /* body-tertiary color */
    border-top: 1px solid #dee2e6; /* border-top color */
    left: 0px;
    bottom: 0px;
    height: 80px;
    width: 100%;
}

/* Apply styles to anchor tags within paragraph elements in the footer */
footer p a {
    text-decoration: none;
    color: black;

}

/* Apply styles to images inside anchor tags within paragraph elements in the footer */
footer p a img {
    width: 70px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-right: 5px; /* Set the right margin */
    vertical-align: middle; /* Align the image vertically */
}

/* Apply styles to the text in the footer */
footer p {
    font-weight: bold;
    font-size: 16px; /* Set the font size of the text */
    line-height: 1.5; /* Set the line height for better readability */
}
