HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
src/main/resources/application.yml
src/main/frontend/node_modules/
src/main/node_modules
src/main/resources/static/static/js
/src/main/resources/static/static/css

/files/post1_0e5e677a-0879-4952-af4c-1d0e6a270094file
/files/post1_1d9352c8-0fdc-49f2-8d83-388140b6f429file
/files/post1_04b21ff9-017e-4622-a08b-f0ee96217453file
/files/post1_7ef465fd-f5db-45b4-9f14-778f316b9b57file
/files/post1_46fe51f0-31c0-4547-bb15-152a80e50bf1file
/files/post1_60f3a054-4682-4048-98d1-c98c362fde35file
/files/post1_37020a8c-53d8-4261-89f5-990791b5214bfile
/files/post1_33528992-9343-4f00-bd2b-056f5d12dee9file
/files/post1_a67ab725-976f-4317-b1cf-87e24a6302bbfile
/files/post1_c7ff6827-96f0-4652-aacc-d1ba42f77337file
/files/post1_de896fbf-146d-4848-baea-c93531187efafile
